<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @product.flavor %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Topping:</strong>
  <%= @product.topping %>
</p>

<p>
  <strong>Crust:</strong>
  <%= @product.crust %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Image:</strong>
<%= image_tag @product.product_image if @product.product_image.attached? %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
